HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

*.DS_Store

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/application/src/main/kotlin/com/isdb/App.kt
/application/src/main/resources/application.properties
/application/src/main/resources/application.properties
/application/src/main/kotlin/com/isdb/App.kt
/spotify/src/main/kotlin/com/login/spotify/SpotifyCredentials.kt
/spotify/src/main/resources/application.properties
/integration-module/src/main/java/com/isdb/config/SpotifyDetails.kt
